<div id="bg-patient" class=" p-3 mb-5 " style="color:white!important;">

    <div class="container text-danger ">
        <div class="row">
            <div class="col-md-10 col-lg-7">
                <h1 class="display-2">Welcome to the Appointment page</h1>
                <p>Here you will find all the information about the appointment. </p>
            </div>
        </div>


    </div>

</div>
<div *ngIf="patient && doctor" class="container-fluid p-3 text-medgray" style="margin-top: -75px;">
    <div class="row justify-content-center mb-4">
        <div class="col-md-10">

            <div class="card shadow bg-sec-light text-sm-center">


                <div class="card-header  bg-white p-3">
                    <div class="container-fluid">
                        <div class="row justify-content-end align-middle ">
                            <button *ngIf="appointment.status=='Reserved' || appointment.status=='Confirmed'"
                                class="btn btn-danger col-3" (click)="goToMedicalOps()">Enter Medical
                                Operations</button>

                            <h3 class="mb-0  col-6">Appointment Information</h3>
                            <button class="btn btn-info col-3" (click)="openUpdateAppointmentInformationDialog()">Update
                                Information</button>
                        </div>
                    </div>

                </div>
                <div class="row p-4">
                    <div class="card-body  justify-content-center ">
                        <div class="row">

                            <div class="col-lg-6">
                                <p class="form-control-label">Code</p>
                                <p>{{appointment.code}}</p>
                            </div>
                            <div class="col-lg-6">
                                <p class="form-control-label">Speciality</p>
                                <p>{{appointment.speciality}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="form-control-label">Date of Creation</p>
                                <p>{{servUtils.formatDateTime(appointment.dateCreated)}}</p>
                            </div>
                            <div class="col-lg-6">
                                <p class="form-control-label">Date of Visit</p>
                                <p>{{servUtils.formatDateTime(appointment.dateToVisit)}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <p class="form-control-label">Type</p>
                                <p>{{appointment.type}}</p>
                            </div>
                            <div class="col-lg-6">
                                <p class="form-control-label">Creation Note</p>
                                <p>{{appointment.notes}}</p>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-6">
                                <p class="form-control-label">Status</p>
                                <p>{{appointment.status}}</p>
                            </div>
                        </div>
                        <div *ngIf="appointment.doctorNotes">
                            <div class="row  justify-content-center">
                                <p class="form-control-label">Doctor Note</p>

                            </div>
                            <div class="row justify-content-center">
                                <div class=" col-md-10">
                                    <div class="card m-2 p-1" *ngFor="let note of appointment.doctorNotes">
                                        {{note.note}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
  
   
    <div class="row justify-content-center mb-4">
        <div class="col-md-10">

            <div class="card shadow bg-sec-light text-sm-center">


                <div class="card-header  bg-white p-3">
                    <div class="container-fluid">
                        <div class="row justify-content-center align-middle ">
                            <h3 class="mb-0  col-6">ِPrevious Appointments With Dr.{{doctor.name}}</h3>
                        </div>
                    </div>

                </div>
                <div class="row p-4">
                    <div class="card-body  justify-content-center ">
                        <app-doctor-appointment-table *ngIf="appointmentsPatientDoctor" [appointments]="appointmentsPatientDoctor">
                        </app-doctor-appointment-table>
            
                    </div>

                </div>

            </div>

        </div>

    </div>


    <div class="row justify-content-center mb-4">
        <div class="col-md-10">

            <div class="card shadow bg-sec-light text-sm-center">


                <div class="card-header  bg-white p-3">
                    <div class="container-fluid">
                        <div class="row justify-content-end align-middle ">
                            <h3 class="mb-0  col-6">Patient Information</h3>
                            <button class="btn btn-primary col-3" (click)="goToPatient()">Go</button>
                        </div>
                    </div>

                </div>
                <div class="row p-4">
                    <div class="card-body  justify-content-center ">
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="form-control-label">Name</p>
                                <p>{{patient.name}}</p>
                            </div>
                            <div class="col-lg-6">
                                <p class="form-control-label">Code</p>
                                <p>{{patient.code}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="form-control-label">Age</p>
                                <p>{{patient.age}}</p>
                            </div>
                            <div class="col-lg-6">
                                <p class="form-control-label">Mobile</p>
                                <p>{{patient.mobile}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <p class="form-control-label">Email</p>
                                <p>{{patient.email}}</p>
                            </div>
                            <div class="col-lg-6">
                                <p class="form-control-label">Gender</p>
                                <p>{{patient.gender}}</p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <div class="row justify-content-center">
        <div class="col-md-10">

            <div class="card shadow bg-sec-light text-sm-center">


                <div class="card-header  bg-white p-3">
                    <div class="container-fluid">
                        <div class="row justify-content-end align-middle ">
                            <h3 class="mb-0 col-6">Doctor Information</h3>
                            <button class="btn btn-primary col-3" (click)="goToDoctor()">Go</button>
                        </div>
                    </div>

                </div>
                <div class="row p-4">
                    <div class="card-body  justify-content-center ">
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="form-control-label">Name</p>
                                <p>{{doctor.name}}</p>
                            </div>
                            <div class="col-lg-6">
                                <p class="form-control-label">Code</p>
                                <p>{{doctor.code}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="form-control-label">Age</p>
                                <p>{{doctor.age}}</p>
                            </div>
                            <div class="col-lg-6">
                                <p class="form-control-label">Mobile</p>
                                <p>{{doctor.mobile}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <p class="form-control-label">Email</p>
                                <p>{{doctor.email}}</p>
                            </div>
                            <div class="col-lg-6">
                                <p class="form-control-label">Gender</p>
                                <p>{{doctor.gender}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="form-control-label">Speciality</p>
                                <p>{{doctor.speciality}}</p>
                            </div>

                        </div>



                    </div>

                </div>

            </div>

        </div>
    </div>
</div>