<div class=" p-4 mb-0 pb-0 text-danger">

    <div class="container text-info">
        <div class="row">
            <div class="col-md-10 col-lg-7">
                <h1 class="display-2">Welcome to the invoice page</h1>
                <p>Here you will find all the information about the invoice.</p>
            </div>
        </div>


    </div>

</div>
<div *ngIf="invoice" class="container-fluid p-3 text-medgray" style="">
    <div class="row justify-content-center ">
        <div class="col-md-10">

            <div class="card shadow bg-sec-light text-sm-center">


                <div class="card-header  bg-white p-3">
                    <div class="container-fluid">
                        <div class="row justify-content-center align-middle ">
                            <button *ngIf="invoice.status=='Not Paid'"class="btn btn-danger col-3"
                            (click)="openFinalizedInvoiceDialog()">Finalize Invoice</button>
                            <button *ngIf="invoice.status=='Finalized'"class="btn btn-info col-3"
                            >Print Invoice</button>
                            <h3 class="mb-0 col-6 ">Invoice Information</h3>
                        </div>
                    </div>

                </div>
                <div class="row p-4">
                    <div class="card-body  justify-content-center ">
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="form-control-label">Code</p>
                                <p>{{invoice.code}}</p>
                            </div>
                            <div class="col-lg-6">
                                <p class="form-control-label">Status</p>
                                <p>{{invoice.status}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="form-control-label">Creation Date</p>
                                <p>{{servUtils.formatDateTime(invoice.dateCreated)}}</p>
                            </div>
                            <div class="col-lg-6">
                                <p class="form-control-label">Finalization Date</p>
                                <p>{{servUtils.formatDateTime(invoice.dateFinalized)}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <p class="form-control-label">Payment Method</p>
                                <p>{{invoice.paymentMethod}}</p>
                            </div>
                            <div class="col-lg-6">
                                <p class="form-control-label">Total Due</p>
                                <p>{{invoice.totalDue}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="form-control-label">Discount</p>
                                <p>{{invoice.discount}}%</p>
                            </div>
                            <div class="col-lg-6">
                                <p class="form-control-label">Total After Discount</p>
                                <p>{{invoice.totalAfterDiscount}}</p>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="form-control-label">Total Remaining</p>
                                <p>{{invoice.totalRemaining}}</p>
                            </div>
                            <div class="col-lg-6">
                                <p class="form-control-label">Total Paid</p>
                                <p>{{invoice.totalPaid}}</p>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="form-control-label">Appointment Code</p>
                                <p>{{invoice.appointment.code}}</p>
                            </div>
                            <div *ngIf="invoice.usedMembership" class="col-lg-6">
                                <p class="form-control-label">Used Membership Code</p>
                                <p>{{invoice.usedMembership.code}}</p>
                            </div>


                        </div>
                        <div class="">
                            <hr class="my-4" />

                        </div>
                        
                        <div class="row justify-content-end align-middle card-header  bg-white p-3 ">
                            <h3 class="mb-0 col-6 ">Appointment Information</h3>
                            <button class="btn btn-primary col-3" (click)="goToAppointment(invoice.appointment.code)">Go</button>
                        </div>

                        <div class="row align-middle justify-content-center">
                            <div class="col-md-10 justify-content-center">
                                <div class="row p-4">
                                    <div class="card-body  justify-content-center ">
                                        <div class="row">
                
                                            <div class="col-lg-6">
                                                <p class="form-control-label">Code</p>
                                                <p>{{invoice.appointment.code}}</p>
                                            </div>
                                            <div class="col-lg-6">
                                                <p class="form-control-label">Speciality</p>
                                                <p>{{invoice.appointment.speciality}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <p class="form-control-label">Date of Creation</p>
                                                <p>{{invoice.appointment.dateCreated}}</p>
                                            </div>
                                            <div class="col-lg-6">
                                                <p class="form-control-label">Date of Visit</p>
                                                <p>{{invoice.appointment.dateToVisit}}</p>
                                            </div>
                                        </div>
                
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <p class="form-control-label">Status</p>
                                                <p>{{invoice.appointment.status}}</p>
                                            </div>
                                          
                                            <div class="col-lg-6">
                                                <p class="form-control-label">Doctor Name</p>
                                                <p>{{invoice.appointment.doctor.name}}</p>
                                            </div>
                                        </div>
                
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <p class="form-control-label">Patient Name</p>
                                                <p>{{invoice.appointment.patient.name}}</p>
                                                
                                            </div>
                                            <div *ngIf="invoice.appointment.patient.totalDebt>0" class="col-lg-6 ">
                                                <p class="form-control-label">Patient Debt</p>
                                                <p class="text-white fw-bold bg-danger p-2">{{invoice.appointment.patient.totalDebt}}</p>
                                                
                                            </div>
                                         
                                        </div>
                                    </div>
                
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <hr class="my-4" />

                        </div>
                        <div class="card-header justify-content-end bg-white p-3">
                        <div class="container-fluid">
                            <div class="row justify-content-end align-middle">
                                <button class="btn btn-danger col-3" 
                                (click)="openFinalizedDebtDialog()"
                                *ngIf="invoice.status=='Not Paid' && invoice.appointment.patient.totalDebt > 0"
                                >Settle Debt</button>

                                <h3 class="mb-0 col-6">Invoice Items</h3>
                                <button class="btn btn-success col-3" 
                                (click)="openAddCustomInvoiceItemDialog()"
                                *ngIf="invoice.status !='Finalized'"
                                >Add Item</button>
                            
                            </div>
                        </div>   
                        </div>
                        <app-invoice-items-table 
                        [invoiceItems]="invoice.invoiceItems"
                        [invoiceStatus]="invoice.status"
                        (itemRemovedEvent)="getInvoice()"
                        ></app-invoice-items-table>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>