<mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Code" #input>
</mat-form-field>


<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
            <td mat-cell *matCellDef="let row"> {{row.code}} </td>
        </ng-container>

        <ng-container matColumnDef="patientName">
            <th mat-header-cell *matHeaderCellDef> Patient Name </th>
            <td mat-cell *matCellDef="let row">
                <span *ngIf="row.appointment">
            {{row.appointment.patient.name}}
          </span> </td>
        </ng-container>

        <ng-container matColumnDef="dateCreated">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Created </th>
            <td mat-cell *matCellDef="let row"> {{servUtils.formatDateTime(row.dateCreated)}} </td>
        </ng-container>

        <ng-container matColumnDef="totalPaid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Paid</th>
            <td mat-cell *matCellDef="let row"> {{row.totalPaid}} </td>
        </ng-container>

        <ng-container matColumnDef="discount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Discount </th>
            <td mat-cell *matCellDef="let row"> {{row.discount}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status</th>
            <td mat-cell *matCellDef="let row"> {{row.status}} </td>
        </ng-container>

        <ng-container matColumnDef="appointmentCode">
            <th mat-header-cell *matHeaderCellDef> Appointment Code </th>
            <td mat-cell *matCellDef="let row">
                <ng-template [ngIf]="row.appointment" [ngIfThen]="content" [ngIfElse]="other_content">
                    {{row.appointment.code}}

                </ng-template>
                <ng-template #content>{{row.appointment.code}} </ng-template>
                <ng-template #other_content>Membership Invoice</ng-template>
            </td>
        </ng-container>


        <ng-container matColumnDef="paymentMethod">
            <th mat-header-cell *matHeaderCellDef> Payment Method </th>
            <td mat-cell *matCellDef="let row"> {{row.paymentMethod}} </td>
        </ng-container>

        <ng-container matColumnDef="userFinalizedBy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Finalized By </th>
            <td mat-cell *matCellDef="let row"> {{row.userFinalizedBy}} </td>
        </ng-container>

        <ng-container matColumnDef=" ">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let row">
                <button class="btn btn-primary btn-sm" (click)="goToInvoice(row.code)">Go</button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator #f [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>