<h1 class="mat-dialog-title bg-white text-center" *ngIf="!isSupply">Add Sell Order</h1>
<h1 class="mat-dialog-title bg-white text-center" *ngIf="isSupply">Add Supply Order</h1>

<div class="mat-dialog-content bg-white">
    <form (ngSubmit)="onNewInventoryItemSubmit()" #newOrderForm="ngForm" class="text-center justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <label for="input-name" class="form-control-label">Item Category</label>
                        <span class="form-text text-muted" *ngIf="category.touched && category.invalid">Please
                            enter category !</span>
                        <mat-select [(ngModel)]="categorySelected" name="category" class="form-control" required #category="ngModel" (selectionChange)="onCategoryChange($event)">

                            <mat-option *ngFor="let category of getInventoryItemCategories()" [value]="category">{{category}}</mat-option>

                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <label for="input-name" class="form-control-label">Item</label>
                        <span class="form-text text-muted" *ngIf="item.touched && item.invalid">Please
                            choose item !</span>
                        <mat-select [(ngModel)]="itemSelected" (selectionChange)="onItemChange($event)" name="item" class="form-control" required #item="ngModel" [disabled]="!itemLookups || !categorySelected ">

                            <mat-option *ngFor="let item of itemLookups" [value]="item">{{item.name}} | {{item.code}}</mat-option>

                        </mat-select>
                    </mat-form-field>
                </div>


                <div class="col-md-6">

                    <mat-form-field>

                        <label for="input-name" class="form-control-label">Item Price</label>
                        <input [(ngModel)]="itemPriceSelected" matInput required [minlimit]="0" type="number" name="itemPrice" class="form-control" #itemPrice="ngModel">

                        <span class="form-text text-muted" *ngIf="itemPrice.touched && itemPrice.invalid">Please enter item price !</span>

                    </mat-form-field>

                </div>

                <div class="col-md-6">

                    <mat-form-field *ngIf="isSupply">

                        <label for="input-name" class="form-control-label">Units</label>
                        <input matInput required [minlimit]="0" type="number" name="units" class="form-control" [(ngModel)]="unitsSelected" #units="ngModel">
                        <span class="form-text text-muted" *ngIf="units.touched && units.invalid">Please enter number of units !</span>

                    </mat-form-field>

                    <mat-form-field *ngIf="!isSupply">

                        <label for="input-name" class="form-control-label">Units</label>
                        <input matInput required [minlimit]="0" [maxlimit]="itemSelected ? itemSelected.availableUnits : 999" type="number" name="units" class="form-control" [(ngModel)]="unitsSelected" #units="ngModel">
                        <span class="form-text text-muted" *ngIf="units.touched && units.invalid && itemSelected">Please enter number of units between 1 & {{itemSelected.availableUnits}} !</span>
                        <span class="form-text text-muted" *ngIf="units.touched && units.invalid && !itemSelected">Please enter number of units !</span>

                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field>

                        <label for="input-name" class="form-control-label">Total Price</label>
                        <input matInput required [minlimit]="0" type="number" [ngModel]="(unitsSelected * itemPriceSelected)" name="totalPrice" class="form-control" ngModel #totalPrice="ngModel">
                        <span class="form-text text-muted" *ngIf="totalPrice.touched && totalPrice.invalid">Please enter total price !</span>

                    </mat-form-field>
                </div>
                <div class="col-md-6" *ngIf="isSupply">
                    <mat-form-field>

                        <label for="input-name" class="form-control-label">Supplier Name</label>
                        <input matInput type="text" name="supplierName" class="form-control" ngModel #supplierName="ngModel">

                    </mat-form-field>
                </div>
                <div class="col-md-6" *ngIf="isSupply">
                    <mat-form-field appearance="fill">
                        <mat-label>Item Expiry Date</mat-label>
                        <input matInput name="itemExpiryDate" required ngModel #itemExpiryDate="ngModel" [matDatepicker]="dp1">

                        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                        <mat-datepicker required #dp1></mat-datepicker>
                        <span class="form-text text-muted" *ngIf="itemExpiryDate.touched && itemExpiryDate.invalid">Please enter item expiry date !</span>

                    </mat-form-field>

                </div>
                <div class="col-md-6">
                    <mat-form-field>

                        <label for="input-name" class="form-control-label">Note</label>
                        <input matInput type="text" name="note" class="form-control" ngModel #note="ngModel">

                    </mat-form-field>
                </div>
            </div>




        </div>



        <h2 *ngIf="itemSelected">Available Units: {{itemSelected.availableUnits}}</h2>

        <button class="btn btn-success text-center" [disabled]="!isFormValid()" type="submit">Add</button>
    </form>
</div>