<mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Name" #input>
</mat-form-field>

<div class="mat-elevation-z8 spinner-enabled">

    <app-local-spinner [showSpinner]="showSpinner"></app-local-spinner>

    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort matSortActive="code" matSortDirection="desc">
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
            <td mat-cell *matCellDef="let row"> {{row.code}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <ng-container matColumnDef="availableUnits">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Available Units</th>
            <td mat-cell *matCellDef="let row"> {{row.availableUnits}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
            <td mat-cell *matCellDef="let row"> {{row.category}} </td>
        </ng-container>
        <ng-container matColumnDef="sellingPrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Selling Price </th>
            <td mat-cell *matCellDef="let row"> {{row.sellingPrice}} </td>
        </ng-container>

        <ng-container matColumnDef=" ">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let row">
                <app-kebab-item-table></app-kebab-item-table>
            </td>
        </ng-container>

        <!-- Expanded Row -->
        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                    <div class="example-element-description">

                        {{element.code}}
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row" [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        <!-- Expanded Row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>


        <tr class="mat-row" *matNoDataRow>
            <td *ngIf="items" class="mat-cell" colspan="4">No data matching the search filter</td>
            <td *ngIf="!items" class="mat-cell" colspan="4">No items yet.</td>

        </tr>
    </table>

    <mat-paginator [length]="itemsCount" [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>