.gradient_highlighter:after {
    position: absolute;
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background: var(--client-primary);
    background: -webkit-linear-gradient( 95deg, var(--client-primary) 0%, var(--client-secondary) 100%);
    background: linear-gradient( 95deg, var(--client-primary)0%, var(--client-secondary) 100%);
    transition: width .3s;
    bottom: -20px;
    left: calc(50% - 50px);
}

.service_title_line {
    position: relative;
    margin: 18px 0 40px;
    text-align: center;
    text-transform: capitalize;
    min-height: 61px;
}

.h2 {
    color: #00205B;
    font-size: 48px;
    font-family: 'Fsalbert Bold';
    font-weight: 800;
    margin-bottom: 10px;
    letter-spacing: -1px;
    line-height: 1;
}

.apps-container {
    border-radius: 20px;
    min-height: 600px;
    /* max-height: 500px; */
    /* overflow-y: scroll; */
    border: 10px solid var(--client-primary) !important;
    background: white;
}

.appointment-box {
    background-color: white;
    border-bottom: 3px solid var(--client-primary) !important;
}

.banner_head {
    background-image: url('../../../../assets/upper background/pc/Patients.png');
    background-position-x: center;
}

.col-lg-6>p {
    text-align: center;
    margin-bottom: 10px;
}

.col-12>p {
    text-align: center;
    margin-bottom: 10px;
}

.col-lg-6 {
    margin-bottom: 20px;
}

.service_title_line {
    min-height: 29px !important;
}