<section class="banner_head">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 ">
                <h1 class="mb-0 banner_h1 gradient_highlighter justify-content-center">Patient History</h1>
            </div>
        </div>
    </div>
</section>

<div class="container p-4">
    <div class="row justify-content-center">
        <h4 class=" service_title_line gradient_highlighter" style="color: var(--client-secondary); font-size: 25px; ">My Information</h4>

    </div>
    <div class="row p-4" *ngIf="this.patient">
        <div class="card-body  justify-content-center ">
            <div class="row">
                <div class="col-lg-6">
                    <p class="h4" style="color: var(--client-primary);">Name</p>
                    <p style="font-size: 25px;">{{patient.name}}</p>
                </div>
                <div class="col-lg-6">
                    <p class="h4" style="color: var(--client-primary);">Code</p>
                    <p style="font-size: 25px;">{{patient.code}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p class="h4" style="color: var(--client-primary);">Age</p>
                    <p style="font-size: 25px;">{{patient.age}}</p>
                </div>
                <div class="col-lg-6">
                    <p class="h4" style="color: var(--client-primary);">Mobile</p>
                    <p style="font-size: 25px;">{{patient.mobile}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <p class="h4" style="color: var(--client-primary);">Email</p>
                    <p style="font-size: 25px;">{{patient.email}}</p>
                </div>
                <div class="col-lg-6">
                    <p class="h4" style="color: var(--client-primary);">Gender</p>
                    <p style="font-size: 25px;">{{patient.gender}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="h4" style="color: var(--client-primary);">Total Debt</p>
                    <p style="font-size: 25px;">{{patient.totalDebt}}</p>
                </div>

            </div>

        </div>
    </div>
</div>

<section class="bg-gray py-5">
    <div class="container">
        <div class="row justify-content-center">
            <p class=" gradient_highlighter service_title_line h2">
                My Appointments
            </p>

        </div>
        <div class="row p-4 my-5 border apps-container bg-gray shadow">
            <div class="col-12">
                <div *ngFor="let app of patient.appointments" class="row appointment-box p-5 mb-4">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-6">
                                <span class="h4" style="color: var(--client-secondary);">Code: </span>
                                <span style="font-size: 25px;"> {{app.code}}</span>
                            </div>
                            <div class="col-md-6">Date: {{app.dateToVisit}} </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">Doctor Name: {{app.doctor.name}}</div>
                            <div class="col-md-6">Speciality: {{app.speciality}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">Type: {{app.type}} </div>
                            <div class="col-md-6" *ngIf="app.invoice">Total Amount: {{app.invoice.totalDue}} </div>
                        </div>
                        <div class="mt-4 row justify-content-end">
                            <button class="theme-btn trans-btn" *ngIf="app.invoice && app.invoice.status=='Finalized'">Print Invoice</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>