<mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
</mat-form-field>

<mat-form-field class="mx-4">
    <mat-select ngModel="Name" (selectionChange)="onSearchFilterChange($event.value)">
        <mat-option value="Name">Name</mat-option>
        <mat-option value="Code">Code</mat-option>
        <mat-option value="Username">Username</mat-option>
        <mat-option value="Role">Role</mat-option>
        <mat-option value="Enabled">Enabled</mat-option>

    </mat-select>
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
            <td mat-cell *matCellDef="let row"> {{row.code}} </td>
        </ng-container>

        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> Username </th>
            <td mat-cell *matCellDef="let row"> {{row.username}} </td>
        </ng-container>

        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> Role </th>
            <td mat-cell *matCellDef="let row"> {{row.roles[0].name}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let row">{{row.name}}</td>

        </ng-container>

        <ng-container matColumnDef="enabled">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Enabled </th>
            <td mat-cell *matCellDef="let row">
                <span *ngIf="row.enabled===true">Yes</span>
                <span *ngIf="row.enabled===false">No</span>

            </td>

        </ng-container>

        <ng-container matColumnDef=" ">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let row">
                <button class="btn btn-sm btn-success" *ngIf="!row.patient && !row.doctor" (click)="openChangeRoleDialog(row)">Change Role</button>

                <button class="btn btn-sm btn-success" *ngIf="row.enabled===false" (click)="openEnableDisableDialog(row,true)">Enable</button>

                <button class="btn btn-sm btn-danger" *ngIf="row.enabled===true" (click)="openEnableDisableDialog(row,false)">Disable</button>
            </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator #f [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>