<div id="primary-slider" class="splide" style="height:90vh;background-color: #313131 !important;">
    <div class="splide__track">
        <ul class="splide__list">
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0416-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0422-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0479-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0492-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0507-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0505-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0474-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0366-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0386-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0395-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0400-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0406-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0412-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0417-02.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0420-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0426-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0430-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0440-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0446-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0449-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0453-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0457-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0486-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0488-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0494-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0502-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0514-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0518-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0519-01.jpg'></li>
        </ul>
    </div>
</div>
<div id="secondary-slider" class="splide" style="height:10vh;background-color: #313131 !important;padding-top:10px;">
    <div class="splide__track">
        <ul class="splide__list">
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0416-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0422-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0479-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0492-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0507-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0505-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0474-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0366-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0386-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0395-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0400-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0406-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0412-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0417-02.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0420-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0426-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0430-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0440-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0446-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0449-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0453-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0457-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0486-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0488-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0494-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0502-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0514-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0518-01.jpg'></li>
            <li class='splide__slide'><img src='../../../../assets/Clinic Photos/DSC_0519-01.jpg'></li>
        </ul>
    </div>
</div>