<div id="primary-slider" class="splide" style="height:90vh;">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <img src="../../../../assets/img/031.jpg">
            </li>
            <li class="splide__slide">
                <img src="../../../../assets/img/032.jpg">
            </li>
            <li class="splide__slide">
                <img src="../../../../assets/img/033.jpg">
            </li>
            <li class="splide__slide">
                <img src="../../../../assets/img/031.jpg">
            </li>
            <li class="splide__slide">
                <img src="../../../../assets/img/032.jpg">
            </li>
            <li class="splide__slide">
                <img src="../../../../assets/img/033.jpg">
            </li>
        </ul>
    </div>
</div>
<div id="secondary-slider" class="splide" style="height:10vh;">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <img src="../../../../assets/img/031.jpg">
            </li>
            <li class="splide__slide">
                <img src="../../../../assets/img/032.jpg">
            </li>
            <li class="splide__slide">
                <img src="../../../../assets/img/033.jpg">
            </li>
            <li class="splide__slide">
                <img src="../../../../assets/img/031.jpg">
            </li>
            <li class="splide__slide">
                <img src="../../../../assets/img/032.jpg">
            </li>
            <li class="splide__slide">
                <img src="../../../../assets/img/033.jpg">
            </li>
        </ul>
    </div>
</div>