<section class="banner_head">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 ">
                <h1 class="mb-0 banner_h1 gradient_highlighter justify-content-center">Our Videos</h1>
            </div>
        </div>
    </div>

</section>
<section class="media-type mt-5">
    <div class="container">
        <div class="row other_gallery_link mb-30">

            <div class="col-sm-6">
                <a routerLink="/blog" class="theme-btn trans-btn " aria-label="News Blog">News Blog</a>
            </div>
            <div class="col-sm-6">
                <a routerLink="/video-gallery" class="theme-btn trans-btn active" aria-label="Video Gallery">Video Gallery</a>
            </div>

        </div>
    </div>
</section>
<section class="doctor-container pt-2 px-1 pb-4 ">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4 style="font-size:25px !important; margin-bottom:30px; color: var(--client-secondary);">Choose a speciality to view our videos</h4>
                <div class="btn-group " role="group" aria-label="Basic example">
                    <button type="button" class="btn  nav-auth-btn" (click)="changeActiveArr('dermatology')">
                        <img src="../../../../assets/icons/Derma.png" alt="">
                        <span>Dermatology </span>
                    </button>
                    <button type="button" class="btn  nav-auth-btn" (click)="changeActiveArr('dental')">
                        <img src=" ../../../../assets/icons/Dental.png " alt=" ">
                        <span>Dentistry </span>
                    </button>
                    <button type="button " class="btn nav-auth-btn " (click)="changeActiveArr('surgery')">
                        <img src="../../../../assets/icons/Surgery.png " alt=" ">
                        <span>Surgery </span>
                    </button>
                    <button type="button " class="btn nav-auth-btn " (click)="changeActiveArr('plastic')">
                        <img src="../../../../assets/icons/plastic surgery.png " alt=" ">
                        <span>Plastic Surgery </span>
                        </button>

                    <button type="button " class="btn nav-auth-btn " (click)="changeActiveArr('nutrition')">
                        <img src="../../../../assets/icons/NURTii.png " alt=" ">
                        <span>Nutrition</span>
                        </button>
                    <button type="button " class="btn nav-auth-btn " (click)="changeActiveArr('internal')">
                        <img src="../../../../assets/icons/Internal medcine.png " alt=" ">
                        <span>Internal Medecine</span>
                        </button>
                    <button type="button " class="btn nav-auth-btn " (click)="changeActiveArr('obs')" id="scrollAnchor">
                        <img src="../../../../assets/icons/obstetrics.png" alt=" ">
                        <span>Obsetrics</span>
                        </button>

                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container pb-4" id="active-spec-header">
        <div class="row justify-content-center ">
            <h4 class=" service_title_line gradient_highlighter" style="color: var(--client-secondary); font-size: 25px; ">{{activeSpeciality}} Doctors</h4>

        </div>
    </div>
</section>
<section class="blog-posts p-4 pt-4 bg-gray">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-6 my-3 blog_list_small  text-center" *ngFor="let video of activeArr">
                <h4 style="color: var(--client-primary); " class="mb-4">{{video.title}}</h4>
                <iframe width="100%" height="315" [src]="video.url | safe" [title]="video.title" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>

            <div class="text-center" *ngIf="!activeArr.length">
                <h1>Sorry No {{activeSpeciality}} Videos Yet. :(</h1>
            </div>
        </div>
    </div>
</section>

<!-- <div *ngFor="let post of postsHtmlArr" [innerHtml]="post.content.rendered"></div> -->