<div id="bg-patient" class=" p-4 mb-0 pb-0" style="color:white!important;">

    <div class="container text-white">
        <div class="row">
            <div class="col-md-10 col-lg-7">
                <h1 class="display-2">Welcome to the patient page</h1>
                <p>Here you will find all the information about the patient, his appointments and package memberships.
                </p>
            </div>
        </div>


    </div>

</div>
<div *ngIf="patient" class="container-fluid p-3 text-medgray" style="margin-top: -75px;">
    <div class="row justify-content-center ">
        <div class="col-md-10">

            <div class="card shadow bg-sec-light text-sm-center">


                <div class="card-header  bg-white p-3">
                    <div class="container-fluid">
                        <div class="row justify-content-end align-middle ">
                            <h3 class="mb-0 col-6 ">Patient Information</h3>
                            <button class="btn btn-info col-3" (click)="openUpdatePatientInformationDialog()">Update
                                Information</button>
                        </div>
                    </div>

                </div>

                <div class="card-body  justify-content-center ">
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="form-control-label">Name</p>
                            <p>{{patient.name}}</p>
                        </div>
                        <div class="col-lg-6">
                            <p class="form-control-label">Code</p>
                            <p>{{patient.code}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="form-control-label">Age</p>
                            <p>{{patient.age}}</p>
                        </div>
                        <div class="col-lg-6">
                            <p class="form-control-label">Mobile</p>
                            <p>{{patient.mobile}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <p class="form-control-label">Email</p>
                            <p>{{patient.email}}</p>
                        </div>
                        <div class="col-lg-6">
                            <p class="form-control-label">Gender</p>
                            <p>{{patient.gender}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="form-control-label">Total Debt</p>
                            <p>{{patient.totalDebt}}</p>
                        </div>

                    </div>
                    <div class="">
                        <hr class="my-4" />

                    </div>
                    <div class="card-header  bg-white p-3">
                        <h3 class="mb-0">Appointments</h3>
                    </div>
                    <app-appointment-patient-table [appointments]="patient.appointments">
                    </app-appointment-patient-table>

                    <hr class="my-4" />

                    <div class="card-header  bg-white p-3">
                        <h3 class="mb-0">Invoices</h3>
                    </div>
                    <app-patient-invoices-table [invoices]="invoicesPatientAll">
                    </app-patient-invoices-table>

                    <hr class="my-4" />

                    <div class="card-header  bg-white p-3">
                        <div class="container-fluid">
                            <div class="row justify-content-end align-middle ">
                                <h3 class="mb-0 col-6 ">Package Memberships</h3>
                                <button class="btn btn-success col-3" (click)="openMembershipDialog()">Add
                                        Membership</button>
                            </div>
                        </div>


                    </div>
                    <hr class="my-4" />
                    <app-membership-patient-table [memberships]="patient.memberships">
                    </app-membership-patient-table>

                    <hr class="my-4" />
                    <div *ngIf="medImagesLab" class="card-header  bg-white p-3">
                        <h3 class="mb-0">Medical Images</h3>
                        <mat-tab-group mat-align-tabs="center" (selectedTabChange)="onTabChange($event)">
                            <mat-tab label="Lab Tests">
                                <ng-template mat-tab-label>
                                    <fa-icon class="mr-3 mb-2" [icon]="faFlask" size="2x"></fa-icon>
                                    Lab Tests
                                </ng-template>

                                <div class="row bg-sec-light justify-content-end">
                                    <button class="btn btn-success m-3" (click)="openAddMedImageDialog()">Add Lab Image</button>

                                    <div *ngIf="medImagesLab.length!=0" class="col-sm-12">

                                        <app-patient-medimages-table [medImages]="medImagesLab"></app-patient-medimages-table>
                                    </div>
                                </div>

                            </mat-tab>
                            <mat-tab label="Radiology">
                                <ng-template mat-tab-label>
                                    <fa-icon class="mr-3 mb-2" [icon]="faMicroscope" size="2x"></fa-icon>
                                    Radiology
                                </ng-template>

                                <div class="row bg-sec-light justify-content-end">
                                    <button class="btn btn-success m-3" (click)="openAddMedImageDialog()">Add Radiology Image</button>

                                    <div *ngIf="medImagesRadiology.length!=0" class="col-sm-12">

                                        <app-patient-medimages-table [medImages]="medImagesRadiology"></app-patient-medimages-table>
                                    </div>
                                </div>

                            </mat-tab>
                            <mat-tab label="Prescriptions">
                                <ng-template mat-tab-label>
                                    <fa-icon class="mr-3 mb-2" [icon]="faFileMedical" size="2x"></fa-icon>
                                    Prescriptions
                                </ng-template>

                                <div class="row bg-sec-light justify-content-end">
                                    <button class="btn btn-success m-3" (click)="openAddMedImageDialog()">Add Prescription Image</button>

                                    <div *ngIf="medImagesPresc.length!=0" class="col-sm-12">

                                        <app-patient-medimages-table [medImages]="medImagesPresc"></app-patient-medimages-table>
                                    </div>
                                </div>

                            </mat-tab>
                            <mat-tab label="Official Documents">
                                <ng-template mat-tab-label>
                                    <fa-icon class="mr-3 mb-2" [icon]="faIdCard" size="2x"></fa-icon>
                                    Official Documents
                                </ng-template>

                                <div class="row bg-sec-light justify-content-end">
                                    <button class="btn btn-success m-3" (click)="openAddOfficialImageDialog()">Add Official Document Image</button>

                                    <div *ngIf="medImagesOfficial.length!=0" class="col-sm-12">

                                        <app-patient-official-image-table [medImages]="medImagesOfficial"></app-patient-official-image-table>
                                    </div>
                                </div>

                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>



            </div>

        </div>

    </div>
</div>