
<h1 class="mat-dialog-title bg-info ">Update Package Information</h1>
<div class="mat-dialog-content bg-white">

    <form *ngIf="packageBase" (ngSubmit)="onUpdateInfoSubmit()"  #updateInfoForm="ngForm" >
        <div class="container-fluid">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-6">
                        <mat-form-field>   

                        <label for="input-name" class="form-control-label">Name</label>
                        <input  matInput type="text" 
                        name="name"
                        class="form-control"
                        [ngModel]="packageBase.name"
                        #name="ngModel"
                        required>
                        <span
                        class="form-text text-muted" 
                        *ngIf="name.touched && name.invalid">Please enter name !<br></span>
                        
                        
                    </mat-form-field> 
                    </div>
                    <div class="col-md-6">
                        <mat-form-field> 
                        <label for="input-name" class="form-control-label">Type</label>
                        <mat-select
                        
                        [ngModel]="packageBase.type" 
                        name="type"
                        class="form-control"
                        required
                         #type="ngModel">
                        <span
                        class="form-text text-muted" 
                        *ngIf="type.touched && type.invalid">Please enter type !<br></span>
                        <mat-option *ngFor="let speciality of specialities" [value]="speciality">{{speciality}}</mat-option>

                        </mat-select >
                    </mat-form-field> 

                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-6">
                        <mat-form-field> 

                        <label for="input-name" class="form-control-label">Price</label>
                        <input
                        name="price"
                         matInput type="number" 
                        class="form-control"
                        [ngModel]="packageBase.price"
                        required
                        
                        #price="ngModel">
                        <span
                        class="form-text text-muted" 
                        *ngIf="price.touched && price.invalid">Please enter price !<br></span>

                    </mat-form-field>

                    </div>
                    <div class="col-md-6">
                        <mat-form-field> 

                        <label for="input-name" class="form-control-label">Unit Total</label>
                        <input
                        name="units"
                         matInput   type="number"
                        class="form-control"
                        [ngModel]="packageBase.unitTotal"
                        #units = "ngModel"
                        required>
                        <span
                        class="form-text text-muted" 
                        *ngIf="units.touched && units.invalid">Please enter units !<br></span>
                    </mat-form-field>

                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-6">
                       
                        <mat-form-field appearance="fill">
                            <mat-label>Choose Expiration Date</mat-label>
                            <input 
                            matInput
                           name="dateExpired"

                           required
                           [ngModel]="packageBase.dateExpired"
                           #dateExpired="ngModel"

                             [matDatepicker]="dp1">
                             
                            <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                            <mat-datepicker 
                            required
                            #dp1 ></mat-datepicker>
                    
                        </mat-form-field>

                    </div>
                    <div class="col-md-6">
                        <mat-form-field> 
                        <label for="input-name" class="form-control-label">Status</label>
                        <mat-select
                        
                        [ngModel]="packageBase.status" 
                        name="status"
                        class="form-control"
                        required
                         #status="ngModel">
                        <span
                        class="form-text text-muted" 
                        *ngIf="status.touched && status.invalid">Please enter status !<br></span>
                        <mat-option value="Ongoing">Ongoing</mat-option>
                        <mat-option value="Expired">Expired</mat-option>

                        </mat-select >
                    </mat-form-field> 

                    </div>
                </div>
                
            </div>
            <button class="btn btn-success" [disabled]="!updateInfoForm.valid" type="submit">Update</button>
        </div>
    </form>
</div>