<div id="appointmentInfo" class="m-0 p-5 container justify-content-center" >
    

    <div  class="text-left  text-white mb-4">
    
        <div class="row">
            <div class="col-lg-7 col-md-10 text-danger">
                <h1>Appointment Information</h1>
                <p class="mt-0 mb-5 bg-gradient-primary">Welcome to the appointment information page. Here you will find all the appointments and  add a new appointment.</p>

            </div> 
           
        </div>
        <div class="row justify-content-end">
            <button class="btn btn-success" (click)="openNewAppointmentDialog()">Add New Appointment</button>

        </div>
    </div>

    <div class="row bg-sec-light">
        <div *ngIf="appointments" class="col-sm-12 align-middle">
            <mat-form-field appearance="fill" class="m-2">
                <mat-label>Choose Visit Date</mat-label>
                <input matInput name="dateToVisit"  ngModel #dateCreated="ngModel"
                [(ngModel)]="currentDate" 
                    [matDatepicker]="dp1"
                    disabled="true"
                    (dateChange)="onDateChange($event)"
                   disabled
                    >
                
                <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                <mat-datepicker
                 required #dp1 [disabled]="buttonGroup.value !='ByDate'"></mat-datepicker>

            </mat-form-field>

            <mat-button-toggle-group #buttonGroup="ngModel"
            ngModel="Upcoming"
            name="fontStyle" aria-label="Font Style" 
            
            (change)="onButtonToggleChange($event)"
            class="ml-5 mr-5" style="margin-bottom:1.34375em;">
                <mat-button-toggle value="All">All</mat-button-toggle>
                <mat-button-toggle value="Upcoming">Upcoming</mat-button-toggle>
                <mat-button-toggle value="Past">Past</mat-button-toggle>
                <mat-button-toggle value="ByDate">Specific Date</mat-button-toggle>
              </mat-button-toggle-group>

            <app-appointment-table  [appointments]="appointments"></app-appointment-table>
        </div>
    </div>
</div>