
<h1 class="mat-dialog-title bg-info ">Update Doctor Information</h1>
<div class="mat-dialog-content bg-white">

    <form *ngIf="doctor" (ngSubmit)="onUpdateInfoSubmit()"  #updateInfoForm="ngForm" >
        <div class="container-fluid">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-6">
                        <mat-form-field>   

                        <label for="input-name" class="form-control-label">Name</label>
                        <input  matInput type="text" 
                        name="name"
                        class="form-control"
                        [ngModel]="doctor.name"
                        #name="ngModel"
                        required>
                        <span
                        class="form-text text-muted" 
                        *ngIf="name.touched && name.invalid">Please enter name !<br></span>
                        
                        
                    </mat-form-field> 
                    </div>
                    <div class="col-md-6">
                        <mat-form-field> 
                        <label for="input-name" class="form-control-label">Speciality</label>
                        <mat-select
                        
                        [(ngModel)]="doctor.speciality" 
                        name="speciality"
                        class="form-control"
                        required
                         #speciality="ngModel">
                        <span
                        class="form-text text-muted" 
                        *ngIf="speciality.touched && speciality.invalid">Please enter speciality !<br></span>
                        <mat-option *ngFor="let speciality of specialities" [value]="speciality">{{speciality}}</mat-option>

                        </mat-select >
                    </mat-form-field> 

                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-6">
                        <mat-form-field> 

                        <label for="input-name" class="form-control-label">Email</label>
                        <input
                        name="email"
                         matInput type="text" 
                        class="form-control"
                        [ngModel]="doctor.email"
                        required
                        email
                        #email="ngModel">
                        <span
                        class="form-text text-muted" 
                        *ngIf="email.touched && email.invalid">Please enter email !<br></span>

                    </mat-form-field>

                    </div>
                    <div class="col-md-6">
                        <mat-form-field> 

                        <label for="input-name" class="form-control-label">Mobile</label>
                        <input
                        name="mobile"
                         matInput   type="number"
                        class="form-control"
                        [ngModel]="doctor.mobile"
                        #mobile = "ngModel"
                        required>
                        <span
                        class="form-text text-muted" 
                        *ngIf="mobile.touched && mobile.invalid">Please enter mobile number !<br></span>
                    </mat-form-field>

                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-6">
                        <mat-form-field> 

                        <label for="input-name" class="form-control-label">Age</label>
                        <input 
                        name="age"
                        matInput   type="number"
                        class="form-control"
                        [ngModel]="doctor.age"
                        #age = "ngModel"
                        required>
                        <span
                        class="form-text text-muted" 
                        *ngIf="age.touched && age.invalid">Please enter age !<br></span>
         
                 
                    </mat-form-field>

                    </div>
                    <div class="col-md-6">
                        <mat-form-field> 
                        <label for="input-name" class="form-control-label">Gender</label>
                        <mat-select
                        
                        [(ngModel)]="doctor.gender" 
                        name="gender"
                        class="form-control"
                        required
                         #gender="ngModel">
                        <span
                        class="form-text text-muted" 
                        *ngIf="gender.touched && gender.invalid">Please enter gender !<br></span>
                        <mat-option value="Male">Male</mat-option>
                        <mat-option value="Female">Female</mat-option>

                        </mat-select >
                    </mat-form-field> 

                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-6">
                        <mat-form-field> 

                        <label for="input-name" class="form-control-label">Price Visit</label>
                        <input 
                        name="priceVisit"
                        matInput   type="number"
                        class="form-control"
                        [ngModel]="doctor.priceVisit"
                        #priceVisit = "ngModel"
                        required>
                        <span
                        class="form-text text-muted" 
                        *ngIf="priceVisit.touched && priceVisit.invalid">Please enter visit price !<br></span>
         
                 
                    </mat-form-field>

                    </div>
                    <div class="col-md-6">
                        <mat-form-field> 

                            <label for="input-name" class="form-control-label">Price Revisit</label>
                            <input 
                            name="priceRevisit"
                            matInput   type="number"
                            class="form-control"
                            [ngModel]="doctor.priceRevisit"
                            #priceRevisit = "ngModel"
                            required>
                            <span
                            class="form-text text-muted" 
                            *ngIf="priceRevisit.touched && priceRevisit.invalid">Please enter Revisit price !<br></span>
             
                     
                        </mat-form-field>

                    </div>
                </div>
                
            </div>
            <button class="btn btn-success" [disabled]="!updateInfoForm.valid" type="submit">Update</button>
        </div>
    </form>
</div>