.banner_head {
    background-image: url('../../../../assets/upper background/pc/Doctors.png');
}

.nav-auth-btn {
    background-color: var(--client-primary);
    color: white;
    width: 160px;
    padding: 11px;
    border-radius: 56px !important;
    margin: 25px;
    height: 188px;
}

.nav-auth-btn span {
    font-size: 25px;
    padding: 5px;
    line-height: 15px;
}

.nav-auth-btn img {
    max-width: 75%;
    max-height: 87px;
    margin-bottom: 23px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-auth-btn:hover {
    background-color: #ad5e80;
}

.btn-group>.btn-group:first-child,
.btn-group>.btn:first-child {
    margin-left: 0px !important;
}

.btn-group {
    display: block;
}

@media (max-width:1150px) {
    .nav-auth-btn {
        width: 136px;
        border-radius: 40px !important;
        height: 144px;
        margin-top: 0px;
        margin-right: 7px;
        margin-bottom: 10px;
    }
    .nav-auth-btn img {
        max-height: 60px;
        margin-bottom: 12px;
    }
    .nav-auth-btn span {
        font-size: 19px;
    }
}

.team .member {
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 10%);
    padding: 30px 20px 30px 20px;
    background: #fff;
}

.team .member img {
    /* max-width: 60%; */
    border-radius: 50%;
    margin: 0 0 30px 0;
    height: 200px;
    width: 200px;
}

.team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 24px !important;
}

.team .member span {
    display: block;
    font-size: 20px !important;
}

.team .member p {
    padding-top: 10px;
    font-size: 18px;
    color: #aaaaaa;
}

.team .member h4,
.team .member span {
    font-size: 25px;
    margin-bottom: 15px;
}

.team .member p {
    font-size: 22px;
    margin: 25px 0 9px 0;
}