.banner_head {
    background-image: url(../../../../assets/patient2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

section.banner_head {
    position: relative;
    height: 55vh;
    padding: 0;
}

section.banner_head:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(64, 64, 64, 0.5);
}

.banner_h1 {
    font-size: 48px;
    color: #fff;
    font-family: 'FSAlbert';
    font-weight: normal;
    align-items: flex-end;
    min-height: 96px;
    display: flex;
    text-transform: capitalize;
    align-items: flex-end;
    min-height: 48vh;
}

.nav-auth-btn {
    background-color: var(--client-primary);
    color: white;
}

.nav-auth-btn:hover {
    background-color: #ad5e80;
}

.team .member {
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 10%);
    padding: 30px 20px;
    background: #fff;
}

.team .member img {
    max-width: 60%;
    border-radius: 50%;
    margin: 0 0 30px 0;
}

.team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
}

.team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
}

.team .member p {
    padding-top: 10px;
    font-size: 14px;
    font-style: italic;
    color: #aaaaaa;
}