<h1 class="mat-dialog-title bg-secondary ">Add New Membership</h1>
<div class="mat-dialog-content bg-black">
    
    <div class="container">
        <div *ngIf="packageBases" class="row">
            <div class="col-10" *ngFor="let packageBase of packageBases">
                <p>Code: {{packageBase.code}}</p>
                <p>Name: {{packageBase.name}}</p>
                <p>Type: {{packageBase.type}}</p>
                <p>Unit Total: {{packageBase.unitTotal}}</p>
                <p>Price: {{packageBase.price}}</p>
                <p>Date of Creation of Creation: {{packageBase.dateCreated}}</p>
                <p>Date of Expiration: {{packageBase.dateExpired}}</p>
                <p>Status: {{packageBase.status}}</p>
                <button class="btn btn-success" (click)="addMembership(packageBase)">Add</button>
                <hr class="my-4">
            </div>
        </div>
        
    </div>

</div>
