<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

    <!-- Brand -->


    <a class="navbar-brand p-3 mb-4" routerLinkActive="active" [routerLink]="['/dashboard']">
      <img src="../../../../assets/logo cropped.jpg" width="100%" alt="...">
    </a>




    <mat-nav-list class="text-medgray">
      <a mat-list-item routerLink="patient" [queryParams]="{allowedit:'1'}" routerLinkActive="active">
        <fa-icon class="mr-2" [icon]="faProcedures" style="color:lightcoral;"></fa-icon>

        Patients
      </a>
      <a mat-list-item routerLink="doctor" routerLinkActive="active">
        <fa-icon class="mr-2" [icon]="faUserNurse" style="color:rgb(22, 150, 230);"></fa-icon>
        Doctors
      </a>
      <a mat-list-item routerLink="appointment" routerLinkActive="active">
        <fa-icon class="mr-2" [icon]="faStethoscope" style="color:rgb(153, 26, 26);"></fa-icon>
        Appointments
      </a>

      <a mat-list-item routerLink="invoice" routerLinkActive="active">
        <fa-icon class="mr-2" [icon]="faFileAlt"></fa-icon>
        Invoices
      </a>

      <a mat-list-item routerLink="packagebases" routerLinkActive="active">
        <fa-icon class="mr-2" [icon]="faPercent"></fa-icon>
        Packages
      </a>
      <a mat-list-item routerLink="servicepricelist" routerLinkActive="active">
        <fa-icon class="mr-2" [icon]="faDollarSign" style="color:green"></fa-icon>
        Price List
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span>carecure-app</span> -->
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>