<section class="banner_head">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 ">
                <h1 class="mb-0 banner_h1 gradient_highlighter justify-content-center">About Us</h1>
            </div>
        </div>
    </div>
</section>

<section class="bg-gray ">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left pt-5" id="about-us-paragraphs-container">

                <p>
                    No matter how much we value blessings in our lives, health always tops all. And because it is so dear, Care and Cure Clinics was founded to give your health the care and value it deserves. Care and Cure Clinics is a multi-faceted healthcare facility with
                    varied and comprehensive specialties all under one roof. From Dermatology, Dentistry, Plastic surgery and cosmetic treatments, general Surgery and internal medicine to obstetrics and gynecology, Care and Cure Clinics is an esteemed
                    polyclinic with one goal in mind: what’s right for you.
                </p>
                <p>
                    There is much more to treating patients than providing them with procedures and medications. We aim at providing healthcare that considers every patient as a whole person. We like to take a holistic approach whereby not just top-notch medical treatment
                    is applied. We nurture care, provide comfort and acknowledge each patient’s concerns. Addressing the “wellbeing” rather than just “the cure”, leaves the patient feeling healed, rested and respected.
                </p>

                <p>
                    Care and Cure Clinics houses some of Egypt’s top physicians and University professors. Each with a well-established reputation as well as national and international medical achievements, Care and Cure Clinics' team of physicians are well renowned experts
                    in their respective fields.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="management_box">
                <div class="row row-eq-height">
                    <div class="col-md-3 align-self-center"><img src="../../../../assets/owner.jpeg" class="management_photo"></div>
                    <div class="col-md-9">
                        <h3>Mohamed Khalafalla</h3>
                        <h4>Chairman's Message</h4>
                        <p> After many months of hard work and with the support of our community, we are proud to announce the official and Grand Opening of the Care & Cure Clinics . This project is a labor of love and thanks to the dedication of several
                            key team players, we are able to provide our community one of the most elegant health care facilities in the entire borough. Our new facility, designed with the needs of our patients and families in mind, offers private and
                            spacious suites for patients, and a relaxing family lounge that gives loved ones a space to gather, decompress and reflect.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about_values_sec p-0 bg-gray py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-50 stats_bg">
                <div class="stats__numbers"><span>100+</span>
                    <p>Number of Services</p>
                </div>
                <div class="stats__numbers"><span>8</span>
                    <p>Number of Specialties</p>
                </div>
                <div class="stats__numbers"><span>100,000+</span>
                    <p>Patients</p>
                </div>
            </div>
        </div>
    </div>
</section>