<section class="banner_head">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 ">
                <h1 class="mb-0 banner_h1 gradient_highlighter justify-content-center">About Us</h1>
            </div>
        </div>
    </div>

</section>

<section class="bg-gray pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left py-5">
                <p>
                    A premier private healthcare provider in the Middle East, American Hospital, part of Mohamed & Obaid Al Mulla Group, was established in 1996 with the goal of providing world-class medical service to the community. The 252-bed, acute care, general medical/surgical
                    private hospital has state-of-the-art facilities and an experienced team of healthcare professionals specialised in more than 40 medical and surgical specialties assuring comprehensive care. All physicians at American Hospital are
                    American Board Certified or equivalent ensuring that patients receive international standard of care in the UAE. American Hospital is the first hospital in the Middle East to be awarded the JCI while its laboratory is the first in
                    Accreditation Council of the American Institute of Ultrasound in Medicine (AIUM). The accreditation comes to align with American Hospital's vision of making the region healthier and more sustainable through quality care, innovation,
                </p>
                <p>
                    the private sector in the region to be accredited by the College of American Pathologists. The hospital is also the inaugural member of the prestigious Mayo Care Network. Further, American Hospital's cancer programme was the first to offer comprehensive
                    one-stop care in Dubai. The Life Support Training Centre at American Hospital Dubai is the first in a private hospital in the UAE to be an American Heart Association (AHA) International Training Center. To ensure the highest standards
                    of care, American Hospital has implemented the Service Excellence Programme while its Clinical Education Department offers multidisciplinary education programmes for clinical staff. Additionally, the American Hospital has been recognized
                    as the only medical facility out of USA to be awarded the ultrasound practice accreditation in the areas of Abdomen/General, Breast – Diagnostic, and Breast – Interventional from the Ultrasound Practice

                </p>
                <p>
                    and medical excellence. Recently, American Hospital is the first medical facility in Dubai to offer the fourth generation of da Vinci Xi surgical system to conduct robotic surgery services, solidifying the Emirate’s position on a regional scale as a hub
                    for medical tourism for patients seeking world-class professional care. The first facility to execute robotic surgery in Dubai, American Hospital cements its position as a pioneer of digital transformation. American Hospital also operates
                    two dedicated clinics – in Dubai Media City and Al Barsha – serving the community by being closer to them.

                </p>
            </div>
        </div>
        <div class="row">
            <div class="management_box">
                <div class="row row-eq-height">
                    <div class="col-md-3 align-self-center"><img src="../../../../assets/owner.jpeg" class="management_photo"></div>
                    <div class="col-md-9">
                        <h3>Mohamed Khalafalla</h3>
                        <h4>Owner’s Message</h4>
                        <p>Mohammad and Obaid Al Mulla Group is an emblematic foundation of business and corporate excellence which has a core business management competency across specific business sectors in which they are active. The group over the years
                            has built an integrated business portfolio through strong and focused organic growth, careful acquisitions &amp; strategic investments.<br> <br> As a part of the group, American Hospital reflects the same synergy and excellence
                            through their American board specialized physicians who offer the utmost premium medical care to patients in the region and beyond. The services and expertise that medical professionals in the hospital offer are in line with
                            the vision of Dubai to position it as the quintessential hub for medical advancements and services.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about_values_sec p-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-50 stats_bg">
                <div class="stats__numbers"><span>252</span>
                    <p>World Class bed Facility</p>
                </div>
                <div class="stats__numbers"><span>31</span>
                    <p>Number of Specialties</p>
                </div>
                <div class="stats__numbers"><span>1,000,000+</span>
                    <p>Patients</p>
                </div>
            </div>
        </div>
    </div>
</section>