<section class="banner_head">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 ">
                <h1 class="mb-0 banner_h1 gradient_highlighter justify-content-center">About Us</h1>
            </div>
        </div>
    </div>

</section>

<section class="bg-gray pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left py-5" id="about-us-paragraphs-container">
                <p>
                    After many months of hard work and with the support of our community, we are proud to announce the official and Grand Opening of the Care & Cure Clinics . This project is a labor of love and thanks to the dedication of several key team players, we are
                    able to provide our community one of the most elegant health care facilities in the entire borough. Our new facility, designed with the needs of our patients and families in mind, offers private and spacious suites for patients, and
                    a relaxing family lounge that gives loved ones a space to gather, decompress and reflect.
                </p>
                <p>
                    No matter how much we value blessings in our lives, health always tops all. And because it is so dear, Care and Cure Clinics was founded to give your health the care and value it deserves. Care and Cure Clinics is a multi-faceted healthcare facility with
                    varied and comprehensive specialties all under one roof. From Dermatology, Dentistry, Plastic surgery and cosmetic treatments, general Surgery and internal medicine to obstetrics and gynecology, Care and Cure Clinics is an esteemed
                    polyclinic with one goal in mind: what’s right for you.
                </p>
                <p>
                    There is much more to treating patients than providing them with procedures and medications. We aim at providing healthcare that considers every patient as a whole person. We like to take a holistic approach whereby not just top-notch medical treatment
                    is applied. We nurture care, provide comfort and acknowledge each patient’s concerns. Addressing the “wellbeing” rather than just “the cure”, leaves the patient feeling healed, rested and respected.
                </p>

                <p>
                    Care and Cure Clinics houses some of Egypt’s top physicians and University professors. Each with a well-established reputation as well as national and international medical achievements, Care and Cure Clinics' team of physicians are well renowned experts
                    in their respective fields.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="management_box">
                <div class="row row-eq-height">
                    <div class="col-md-3 align-self-center"><img src="../../../../assets/owner.jpeg" class="management_photo"></div>
                    <div class="col-md-9">
                        <h3>Mohamed Khalafalla</h3>
                        <h4>Owner’s Message</h4>
                        <p>Mohammad and Obaid Al Mulla Group is an emblematic foundation of business and corporate excellence which has a core business management competency across specific business sectors in which they are active. The group over the years
                            has built an integrated business portfolio through strong and focused organic growth, careful acquisitions &amp; strategic investments.<br> <br> As a part of the group, American Hospital reflects the same synergy and excellence
                            through their American board specialized physicians who offer the utmost premium medical care to patients in the region and beyond. The services and expertise that medical professionals in the hospital offer are in line with
                            the vision of Dubai to position it as the quintessential hub for medical advancements and services.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about_values_sec p-0 bg-gray pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-50 stats_bg">
                <div class="stats__numbers"><span>252</span>
                    <p>World Class bed Facility</p>
                </div>
                <div class="stats__numbers"><span>31</span>
                    <p>Number of Specialties</p>
                </div>
                <div class="stats__numbers"><span>1,000,000+</span>
                    <p>Patients</p>
                </div>
            </div>
        </div>
    </div>
</section>