/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: cairofont;
    src: url('assets/fonts/Cairo/Cairo-Light.ttf');
}

@font-face {
    font-family: titanium;
    src: url('assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf');
}

@font-face {
    font-family: SourceSansPro;
    src: url('assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: Montserrat;
    src: url('assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

a,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: cairofont !important;
}

.text-medgray>* {
    color: #525f7f!important;
}

.bg-sec-light {
    background-color: #f7fafc!important;
}

.form-control-label {
    font-size: .875rem;
    font-weight: 600;
    color: #525f7f
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

table.mat-table {
    width: 100%;
    text-align: start;
}

.header {
    position: relative;
}


/* .mat-column-select {
    overflow: initial;
  } */


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}


/* table * {
  text-align: center;
} */

:root {
    --client-primary: #9f496e;
    --client-secondary: #647295;
    --client-accent: #2b262d;
}

@font-face {
    font-family: 'FSAlbert Light';
    src: url('/fonts/FSAlbertArabic-Light.otf');
}

.bg-client-primary {
    background: var(--client-primary);
}

.bg-client-secondary {
    background: var(--client-secondary);
}

.bg-client-accent {
    background: var(--client-accent);
}

.theme-btn {
    font-size: 16px;
    border: solid 1px var(--client-primary);
    border-radius: 0px;
    position: relative;
    padding: 15px;
    min-width: 180px;
    display: inline-block;
    margin-bottom: 10px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background: var(--client-primary);
    color: var(--client-primary);
    text-align: center;
    font-family: 'FSAlbert Light';
}

.theme-btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border-color: #fff;
    color: var(--client-primary);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.theme-btn:hover,
.theme-btn:active,
.theme-btn:focus {
    color: var(--client-primary);
    cursor: pointer;
}

.theme-btn:hover:before,
.theme-btn:focus:before,
.theme-btn:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    color: var(--client-primary);
    cursor: pointer;
}

.theme-btn.trans-btn {
    border: solid 1px var(--client-primary);
    background: transparent;
    /*color: #717171;*/
    text-align: center;
    font-weight: normal;
    padding: 10px;
    min-width: 150px;
    font-size: 14px;
}

.theme-btn.trans-btn:before {
    content: "";
    color: #fff;
    background: var(--client-primary);
}

.theme-btn.trans-btn:hover,
.theme-btn.trans-btn:active,
.theme-btn.trans-btn:focus {
    -webkit-text-fill-color: rgba(255, 255, 255, 1);
    -webkit-opacity: 1;
    color: rgba(255, 255, 255, 1);
    /* color: #fff; */
    border-color: var(--client-primary);
}

.theme-btn.trans-btn:hover:before,
.theme-btn.trans-btn:focus:before,
.theme-btn.trans-btn:active:before {
    color: #fff;
    border-color: var(--client-primary);
}

.gradient_highlighter:after {
    position: absolute;
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background: var(--client-primary);
    background: -webkit-linear-gradient( 95deg, var(--client-primary) 0%, var(--client-secondary) 100%);
    background: linear-gradient( 95deg, var(--client-primary)0%, var(--client-secondary) 100%);
    transition: width .3s;
    bottom: -20px;
    left: calc(50% - 50px);
}

.bg-gray {
    background: #f7f7f7 !important;
    /* padding-top: 0; */
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}


/* SHARED*/

.banner_head {
    background-size: cover;
    background-repeat: no-repeat;
}

section.banner_head {
    position: relative;
    height: 35vh;
    padding: 0;
}

section.banner_head:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(64, 64, 64, 0.5);
}

.banner_h1 {
    font-size: 48px !important;
    color: #fff;
    font-weight: normal !important;
    align-items: flex-end !important;
    min-height: 96px;
    display: flex;
    text-transform: capitalize;
    align-items: flex-end;
    min-height: 30vh;
}

h2,
.h2 {
    font-size: 28px !important;
    font-weight: 800 !important;
    margin-bottom: 40px !important;
    letter-spacing: -1px !important;
    line-height: 1 !important;
    /* min-height: 71px !important; */
}

h4,
.h4 {
    font-size: 22px !important;
    font-weight: 800 !important;
    letter-spacing: -0.6px !important;
}

.service_title_line {
    position: relative;
    margin: 18px 0 40px;
    text-align: center;
    text-transform: capitalize;
    min-height: 25px;
}