/* You can add global styles to this file, and also import other style files */
.text-medgray >*{
    color:#525f7f!important;
}

.bg-sec-light{
    background-color: #f7fafc!important;
}
.form-control-label{font-size:.875rem;font-weight:600;color:#525f7f}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

table.mat-table {
    width:100%;
    text-align:start;
}


.header {
    position: relative;
}

/* .mat-column-select {
    overflow: initial;
  } */

  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* table * {
  text-align: center;
} */