<div class="container justify-content-center text-center ">
    <nav class="navbar fixed-top navbar-expand-xl navbar-dark navbar-semi-transparent-bg ">


        <div class=" mb-2  justify-content-center text-center" [ngClass]="isMobileLayout ? 'col-md-12 px-0':'col-md-3'">
            <a routerLink=""> <img src="../../../../../assets/Final logo stroke 2 .png" class="navbar-brand-logo" alt=""></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>

        </div>

        <div class=" my-auto mb-2 p-0 justify-content-center text-center" [ngClass]="isMobileLayout ? 'col-md-12' : 'col-md-3'">
            <a href="tel:+201122229498" class=" mr-2 badge badge-pill badge-light cursor-hover">
                <fa-icon class="" [icon]="faPhoneAlt" style=""></fa-icon>

                <span>+201122229498</span>
            </a>
            <a class="  badge badge-pill badge-light cursor-hover" (click)="openNewAppointmentDialog()">
                <span> Request an Appointment</span>
            </a>
        </div>
        <div class=" my-auto mb-2 collapse navbar-collapse text-center" id="navbarSupportedContent" [ngClass]="isMobileLayout ? 'col-md-12':'col-md-5'">

            <ul class=" navbar-nav mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink=""><span class="pt-2">Home</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="blog"><span>Blog</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="video-gallery"><span>Videos</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="doctors"><span>Doctors</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="services"><span>Services</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="gallery"><span>Gallery</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="about-us"><span>About&nbsp;Us</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="contact-us"><span>Contact&nbsp;Us</span></a>
                </li>

                <li class="nav-item" *ngIf="isShowMyHistory()">
                    <a class="nav-link" routerLink="history" [ngClass]="{'mb-3':isMobileLayout}" style=" padding-right: 8px !important; "><span>My&nbsp;History</span></a>
                </li>

                <li class="nav-item" *ngIf="isShowAdminPanel()">
                    <a class="nav-link" routerLink="admin/patient" style="padding-right: 8px !important;" [ngClass]="{'mb-3':isMobileLayout}"><span>Admin</span></a>
                </li>

                <li class=" nav-item m-1 " *ngIf="!authService.isUserLoggedIn() ">
                    <a routerLink="login-client" class="btn nav-auth-btn " [ngClass]="{ 'mb-3':isMobileLayout} ">Login</a></li>
                <li class="nav-item " *ngIf="!authService.isUserLoggedIn() ">
                    <a routerLink="signup-client" class="btn nav-auth-btn " [ngClass]="{ 'mb-3':isMobileLayout} ">Sign&nbsp;up</a></li>
                <li class="nav-item " *ngIf="authService.isUserLoggedIn() ">
                    <a class="btn nav-auth-btn " (click)="authService.logOut() ">Log&nbsp;Out</a></li>

            </ul>

        </div>



    </nav>
</div>